<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ScaleniaMW.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <ScaleniaMW.Properties.Settings>
      <setting name="PathFDB" serializeAs="String">
        <value />
      </setting>
      <setting name="Login" serializeAs="String">
        <value />
      </setting>
      <setting name="Haslo" serializeAs="String">
        <value />
      </setting>
      <setting name="PathEDZ" serializeAs="String">
        <value />
      </setting>
      <setting name="PathGeneruj" serializeAs="String">
        <value />
      </setting>
      <setting name="checkBoxignorujKropkeIPrzecinek" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="checkBoxBrakKW" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="checkBoxDopiszBlad" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CzyBlokowacProgram" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OdsumieciePionoweTekstu" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="JustyfikacjNKR" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="JustyfikacjaWartosci" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="CheckBoxPodkreslenieNKR" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CheckBoxPodkreslenieWARTOSCI" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CheckBoxPodzialSekcji" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FBPort" serializeAs="String">
        <value>3051</value>
      </setting>
      <setting name="EwopisPort3050" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EwopisLogin" serializeAs="String">
        <value />
      </setting>
      <setting name="EwopisHaslo" serializeAs="String">
        <value />
      </setting>
      <setting name="EwopisSciezkaFDB" serializeAs="String">
        <value />
      </setting>
      <setting name="czyWziacNrJednRejZNkrPo" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="przecinekWWWe" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="radioTabZyczenDomyslne" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="radioTabZyczenWlasne" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="radioTabZyczenWylacz" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="textBoxWzorzec_naglowekOswiadczenUczestnika" serializeAs="String">
        <value />
      </setting>
      <setting name="textBoxWzorzec_naglowekOmowienieZastrzezen" serializeAs="String">
        <value />
      </setting>
    </ScaleniaMW.Properties.Settings>
  </userSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="FirebirdSql.Data.FirebirdClient" type="FirebirdSql.Data.EntityFramework6.FbProviderServices, EntityFramework.Firebird" />
    </providers>
    <defaultConnectionFactory type="FirebirdSql.Data.EntityFramework6.FbConnectionFactory, EntityFramework.Firebird" />
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FirebirdSql.Data.FirebirdClient" publicKeyToken="3750abcc3150b00c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.data>
		<DbProviderFactories>
			<remove invariant="FirebirdSql.Data.FirebirdClient" />
			<add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" />
		</DbProviderFactories>
	</system.data></configuration>